body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(75deg, rgb(76, 128, 191), rgb(195, 83, 201));
    overflow: hidden;
}

#up {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(75deg, rgb(240, 56, 90), rgb(90, 24, 243));
    animation: up 30s infinite;
    filter: blur(50px);
}

#down {
    position: absolute;
    height: 550px;
    width: 550px;   
    border-radius: 50%;
    background-image: linear-gradient(75deg, rgb(56, 190, 90, 0.8), rgba(90, 205, 213, 0.5));
    animation: down 30s infinite;
    filter: blur(50px);
}

#left {
    position: absolute;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    background-image: linear-gradient(75deg, rgb(90, 19, 210), rgba(208, 31, 143, 0.5));
    animation: left 40s infinite;
    filter: blur(60px);
}

#right {
    position: absolute;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    background-image: linear-gradient(75deg, rgba(77, 216, 226), rgba(221, 218, 24, 0.5));
    animation: right 30s infinite;
    filter: blur(55px);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blocksButton {
    font-family: 'Bungee';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    font-size: 88px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

#blocksButton:hover {
    background-color: rgb(255, 255, 255, 0.9);
    color: rgb(55, 55, 52);
}

.hidden {
    display: none;
}

.search-bar {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.search-bar input {
    padding: 10px;
    border: none;
    margin-right: 10px;
    width: 200px;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.search-bar button {
    padding: 10px 20px;
    background-color: rgb(55, 55, 52);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s
}

.search-bar button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(55, 55, 52);
}

.search-bar button:active {
    background-color: transparent;
}

@keyframes down {
    0%, 100%
    {
        top: -100px;
    }
    
    70%
    {
        top: 700px;
    }
}

@keyframes up {
    0%, 100% {
        top: -100px;
    } 
    
    70% {
        top: 700px;
    }
}

@keyframes left {
    0%, 100% {
        left: -100px;
    }

    70% {
        left: 1300px;
    }
}

@keyframes right {
    0%, 100% {
        left: -100px;
    }

    70% {
        left: 1300px;
    }
}
